<h1>這是前台首頁</h1>

<div class="xxx">
  <div class="xxxx">
    
    <% @products.each do |product| %>
      <div class="xxxx">
        <div class="xxxx">
          <%= image_tag product.image, class: "xxxx" %>
          <div class="caption">
            <h3><%= link_to product.title, product_path(product) %></h3>
          </div>
        </div>
      </div>
    <% end %>
      
  </div>
</div>
