<h1>這是前台首頁</h1>

<div class="container">
  <div class="row">
    
    <% @products.each do |product| %>
      <div class="col-sm-6 col-md-4">
        <%= link_to product_path(product) do %>
        <div class="product-item">
          <%= image_tag product.image.url, class: "img-responsive center-block" %>
          <div class="caption">
            <h3><%= product.title %></h3>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
      
  </div>
</div>
